<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>编辑页--Linux实践教学平台教师端</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/editormd.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/editormd.min.js"></script>
    <script type="text/javascript">
			var testEditor;
            var exerc_id={{exerc_id}};
            $(function() {
                testEditor = editormd("test-editormd", {
                    width   : "80%",
                    height  : 800,
                    syncScrolling : "single",
                    path    : "../lib/",
                    htmlDecode : "style,script,iframe|on*",
                    editorTheme : "pastel-on-dark",
                    searchReplace : true,
                    saveHTMLToTextarea : true,
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "./upload/",
                    emoji : true,
                    taskList : true,
                    tocm     : true,         // Using [TOCM]
                    tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                    flowChart : true,             // 开启流程图支持，默认关闭
                    sequenceDiagram : true,
                    toolbarIcons : function() {
                        var full=editormd.toolbarModes["full"]; // full, simple, mini
                        full.unshift("save","|");
                        full.pop();
                        return full;
                    },
                    toolbarIconTexts : {
                        save : "更新文档"  // 指定一个FontAawsome的图标类
                    },
                    toolbarHandlers : {
                        save : function() {
                            var practices = {"exerc_id":exerc_id,"markdown":testEditor.getMarkdown(),"html":testEditor.getHTML()}
                            $.ajax({
                                url:'/api/v1/practices',
                                data:JSON.stringify(practices) ,
                                contentType: 'application/json; charset=UTF-8',
                                type:'PUT',
                                dataType:'json'
                            }).done(function(data){
                                if(data.status){
                                    alert(data.message);
                                }else{
                                    alert(data.error);
                                }
                            });
                        }
                    }
                });
            });





    </script>

</head>
<body>
<div id="layout">
    <header>
        <h1>Linux实践教学平台教师端</h1>
    </header>
    <div id="test-editormd">
        <textarea style="display:none;">{{exerc}}</textarea>
    </div>

</div>
</body>
</html>